---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>The Forgotten is a 2D top down roguelike game following the story of an android built by a surviving scientist. It takes place in the forgotten laboratory years after the “accident.” Fight your way through this laboratory to reclaim the lost technologies within the facility.</p>
        <p>The game mechanics are fairly simple to learn.</p>
        <p>Movement - Movement is done by using the WASD keys and will move you up, left, down, and right respectively. Pressing right click will allow the player to do a short dash in the direction they are holding.</p>
        <p>Shooting - Shooting is done by pressing left click. It currently has a cap on how fast it can shoot, but it can shoot fairly fast.</p>
        <p>Pausing - Pausing can be done by hitting the Escape key. This will bring up the pause menu where you can resume, go back to the main menu, or quit out of the application. </p>
      </div>
    </div>
  </div>
